button {
  width: 38px;
  height: 38px;
  background-color: #535361;
  border-radius: 10px;
  border: none;
  margin: 0 4px;
  cursor: pointer;
}
.next svg {
  width: 20px;
  color: #ffffff;
}
.prev svg {
  width: 20px;
  color: #a4a4ab;
}
button:hover > svg {
  color: #54ffa3;
}
button:hover {
  background-color: rgb(139, 139, 139);
}
