.banner {
  max-width: 1176px;
  margin: 72px auto;
  height: 399px;
  width: 82%;
  display: flex;
  justify-content: space-between;
}

.banner-image {
  width: 561px;
  height: 383px;
}
.head > h1 > span {
  color: #54ffa3;
}
.left-light {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: -1;
}
.right-light {
  position: absolute;
  top: 250px;
  right: 0;
  z-index: -1;
}

main > section > .head > h1 {
  width: 510px;
  margin-top: 40px;
  height: 128px;
  font-weight: 400;
  font-size: 40px;
  line-height: 64px;
  position: relative;
}
.inline-logo {
  display: inline-flex;
  height: 60px;
  width: 102px;
  top: 2px;
  position: absolute;
}
.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  width: 476px;
  height: 84px;
  margin-top: 16px;
  box-sizing: border-box;
}
