.container {
  max-width: 1176px;
  width: 82%;
  position: relative;

  margin: 13rem auto;
  height: 366px;
}
.carosel-navbar {
  margin: 0 0 54px 0;
}
.product-titel {
  font-weight: 300;
  font-size: 36px;
}

.btn-prev-next button {
  width: 38px;
  height: 38px;
  background-color: #535361;
  border-radius: 10px;
  border: none;
  margin: 0 4px;
  cursor: pointer;
}
.next svg {
  width: 20px;
  color: #ffffff;
}
.prev svg {
  width: 20px;
  color: #a4a4ab;
}
.btn-prev-next button:hover > svg {
  color: #54ffa3;
}
.btn-prev-next button:hover {
  background-color: rgb(139, 139, 139);
}
.carosel-navbar {
  display: flex;
  justify-content: space-between;
}

.product {
  background-color: #31313a;
  width: 12rem;
  height: 11rem;
  margin: 44px auto;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;

  cursor: pointer;
}
.product img {
  width: 10rem;
  height: 10rem;
  position: relative;
  top: -2.5rem;
}
.product p {
  color: #ffffff;
  position: relative;
  top: -1.2rem;
}
.product:hover {
  position: relative;
  top: -0.8rem;
  filter: drop-shadow(0 1.5rem 22px #54ffa41e);
}
/* new */
.hbtn {
  overflow: hidden;

  text-decoration: none;

  z-index: 0;
}

.hbtn i {
  padding-right: 8px;
}

.hb-border-bottom-br3 {
  position: relative;
  transition-duration: 0.3s;
  overflow: visible;
  box-sizing: border-box;
  border: none;
  padding: 10px 22px;
}

.hb-border-bottom-br3::after {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";

  z-index: 2;
  margin: 0px;
  left: 0px;
  bottom: 0px;

  transition: border-top-width 0.1s ease 0.2s, height 0.2s ease 0.1s,
    width 0.2s ease 0s, margin 0.2s ease 0s;
}

.hb-border-bottom-br3:hover::after {
  border: 0px solid #54ffa3;

  width: 60%;
  height: 0px;
  border-width: 0 0 3px 0;
  margin: 0px 20%;
  transition: border-top-width 0.1s ease 0s, height 0.1s ease 0.1s,
    width 0.1s ease 0.1s, margin 0.1s ease 0.1s;
}
