.container {
  max-width: 1176px;
  width: 82%;
  position: relative;

  margin: 136px auto;
  height: 366px;
}
.carosel-navbar {
  margin: 0 0 54px 0;
}
.product-titel {
  font-weight: 300;
  font-size: 36px;
}

.btn-prev-next button {
  width: 38px;
  height: 38px;
  background-color: #535361;
  border-radius: 10px;
  border: none;
  margin: 0 4px;
}
.btn-prev-next svg {
  width: 20px;
  color: #ffffff;
}
.carosel-navbar {
  display: flex;
  justify-content: space-between;
}
.product-container {
  width: 300px;
}
.product {
  background-color: #31313a;
  width: 12rem;
  height: 11rem;
  margin: 40px auto;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.product img {
  width: 10rem;
  height: 10rem;
  position: relative;
  top: -3rem;
}
.product p {
  color: #ffffff;
  position: relative;
  top: -1.2rem;
}
.product:hover {
  border-bottom: 2px solid #54ffa3;
}
